body{
    font-family: Arial, sans-serif;
    Background-color: #f4f4f4;
    margin: 0px;
    padding: 20px;
    color: #333;
    line-height: 1.6;

}
header{
    background-color: pink;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 5px solid  #007bff;
    margin-bottom: 30px;
}
.level-1, .leve-2, .level-3, .level-4{
     background-color: #e9ecef;
}