body{
    background-color: gray;
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-post-card{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    text-align: left;
}
.post-img{
    width: 100%;
    border-bottom: 2px solid #ddd;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-content{
    padding: 20px;
}
.post-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
}
.post-excerpt{
    font-size: 16px;
    color: #666;
    margin: 0 0 15px;
}
.post-meta{
    font-size: 14px;
    color: #999;
    margin: 0 0 20px;
}
.read-more{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0073b1;
    color: white;
    display: block;
    margin: 20px;
}
.read-more:hover{
    background-color: #005582;
    transition: 0.3s;
      cursor: pointer;
}
.blog-post-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
